# Byte data_type

In [1]:
b =[10,30,40,60,70]
type(b)

list

In [3]:
 x=bytes(b)
type(x)

bytes

In [4]:
for i in b:
    print(i)

10
30
40
60
70

In [5]:
# bytes data is immutable(once defined cannot be changed)
# x[0] = 80

# bytes Array data_type

It is same as bytes data type, but is mutable(can be changed after assigning the array also)

In [7]:
y =[40,50,60,44]
by= bytearray(y)
for i in by:
    print(i)

40
50
60
44

In [8]:
by[0]

40

In [12]:
# bytearray is mutable
y[0] = 80
for i in y:
    print(i)

80
50
60
44

# List

If we want to represent group of data as a single entity where ,
1. Insertion order is preserved
2. Heterogenious elements are allowed (can be any float, int str, any data type)
3. Duplicates are allowed
4. Growable in nature
5. Its Mutable
6. Value is enclosed in [] and seperated by ,

In [13]:
l1 = [15, 'Daya',22.7, 6+7j, True,15]
l1[0]

15

In [14]:
l1[5] = 10
l1

[15, 'Daya', 22.7, (6+7j), True, 10]

In [17]:
l1.append(20000)
l1

[15, 'Daya', 22.7, (6+7j), True, 10, 20000, 20000, 20000]

In [18]:
l1

[15, 'Daya', 22.7, (6+7j), True, 10, 20000, 20000, 20000]

# Tuple

This is exactly same as list but its immutable
Its read only mode of list
We enclose the elements of tuple in().

In [2]:
t = (10,20,30,40)
type(t)

tuple

In [3]:
# t.append[20] -->error it is immutable
t[0]

10

In [4]:
# item assignment not work in tuple

# Range data_type

This will represent the seq of numbers.
The elements which will be presented they cannot be modify.
Immutable

In [6]:
a = range(10)
a

range(0, 10)

In [9]:
for i in a:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
b =range(1,10)
for i in b:
    print(i)

1
2
3
4
5
6
7
8
9

In [12]:
c = range(2,22,4)
for i in c:
    print(i)

2
6
10
14
18

In [13]:
l = list(range(5,51,5))
l

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [15]:
tu = tuple(range(3,35,3))
tu

(3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33)

# Set data_type

When we want to represent group of values without duplicates where order is not important
then we should go for Set datatype.

1. insertion order is not preserved
2. duplictes are not allowed
3. Heterogenous objects are allowed
4. Index concept is not applicable in set
5. It is muttable
6. Can insert values
7. set is enclosed in {}.

In [16]:
s =  {10,23.5, 'Daya', 10.5j, True,10}
s

{10, 10.5j, 23.5, 'Daya', True}

In [18]:
# s[0]  -> no index is allowed

In [19]:
s.add(22)

In [20]:
s

{10, 10.5j, 22, 23.5, 'Daya', True}

In [21]:
s.remove(10)
s

{10.5j, 22, 23.5, 'Daya', True}

# Frozen set data_type

It is exaclty same as set except it is immutable
add and rremove function will not wrk here

In [23]:
s

{10.5j, 22, 23.5, 'Daya', True}

In [24]:
fs = frozenset(s)
type(fs)

frozenset

In [25]:
for i in fs: print(i)

True
22
23.5
Daya
10.5j

# Dictionary data type

If we want to represent a group of value as kep pair we use dictionary

In [35]:
d = {10:'Daya', 102: 'Viny', 103:'Durga', 104:'Shan'}
food_item = {"starter":'chicken 65','starter2':'Chicken biryani'}
food_item

{'starter': 'chicken 65', 'starter2': 'Chicken biryani'}

Key: Value
Key is number then it will not be in  ''/"".
but if it is string key should be in ''/"".
value will be ''/""
Key cannot be same but value can be.
growable in nature

In [38]:
food_item["fullmeal"] = 'Butter chicken'
print(food_item)
type(food_item)

{'starter': 'chicken 65', 'starter2': 'Chicken biryani', 'fullmeal': 'Butter chicken'}

dict

# None data_type

None means nothing, no value associated with it, not even zero(0).

In [39]:
def m1():
    a =10
    print(m1())